<!--Navbar-->
<nav class="navbar navbar-expand-md navbar-dark indigo">
  <div class="container">

    <!-- Navbar brand -->
    <a class="navbar-brand" routerLink="/">{{ brandName }}</a>

    <!-- Collapse button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Collapsible content -->
    <div class="collapse navbar-collapse" id="navbarContent">

      <!-- Links -->
      <ul class="navbar-nav mr-auto">
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/articles">Articles</a>
        </li>
      </ul>
      <!-- Links -->

    </div>
    <!-- Collapsible content -->

  </div>
</nav>
<!--/.Navbar-->